<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
    <style>
        .account {
            width: 400px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div class="account">
        <h1>注册</h1>
        <form method="post">
            {% for field in form %}
                {% ifequal field.name 'code' %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label> :
                        <div class="clearfix">
                        <div class="col-md-6" style="padding-left: 0">{{ field }}</div>
                        <div class="col-md-6">
                            <input type="button" id="button_code" class="btn btn-default" value="点击获取验证码">
                        </div>
                        </div>
                    </div>
                {% else %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label> : {{ field }}
                    </div>
                {% endifequal %}
             {% endfor %}
            <button type="submit" class="btn btn-primary">注册</button>
        </form>
    </div>
</body>
</html>
<script type="text/javascript">

    $('#button_code').on('click', function () {
        varmobile = $(this).parents('.form-group').prev().children('input').val()
        var that = $(this)
        $.post('/user/send', {'mobile':varmobile, 'tpl':'register'}, function (data) {
            alert(data.errmsg)
        })
        var timeo = 60;
        var timeStop = setInterval(function(){
                timeo--;
                if (timeo>0) {
                    that.val('重新发送' + timeo +'s');
                    that.attr('disabled','disabled');//禁止点击
                }else{
                    timeo = 60;//当减到0时赋值为60
                    that.val('点击获取验证码');
                    clearInterval(timeStop);//清除定时器
                    that.removeAttr('disabled');//移除属性，可点击
            }
         },1000)
    })

</script>