<ul class="dropdown-menu">
    {% if create_pros %}
    <li><a href="#"><i class="fa fa-bars" aria-hidden="true"></i>我创建的项目</a></li>
    {% for pro in create_pros %}
    <li><a href="/web/manage/{{ pro.id }}/dashboard">{{ pro.project_name }}</a></li>
    {% endfor %}
    {% endif %}

    <li role="separator" class="divider"></li>
    {% if user_pros %}
    <li><a href="#"><i class="fa fa-hand-paper-o" aria-hidden="true"></i>我参与的项目</a></li>
    {% for pro in user_pros %}
    <li><a href="/web/manage/{{ pro.project.id }}/dashboard">{{ pro.project.project_name }}</a></li>
    {% endfor %}
    {% endif %}
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'web:project' %}">所有项目</a></li>
</ul>