{% extends 'layout/manage.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">
    <style>
        .panel {
            margin: 10px;
        }

        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-body {
            padding: 0px;
        }

        .cata {
            border-right: 1px solid slategrey;
            min-height: 500px;
        }

        .title-list {
            border-right: 1px solid #dddddd;
            min-height: 500px;
        }

        .title-list ul {
            padding-left: 15px;
        }

        .title-list ul a {
            display: block;
            padding: 5px 0;
        }

        .content {
            margin-left: -1px;
            border-left: 1px solid slategrey;
            min-height: 600px;
        }

        .panel-default > .panel-heading .function .upload {
            overflow: hidden;
        }

        .panel-default > .panel-heading .function input {
            opacity: 0;
            position: absolute;
            bottom: 0;
            width: 76px;
            left: -2px;
            overflow: hidden;
        }

        .upload-progress {
            position: fixed;
            right: 2px;
            bottom: 2px;
            width: 400px;
        }

    </style>
{% endblock %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <div style="padding-top: 5px">
                <h3 class=" panel-title">
                    <a href="{% url 'web:manage:file' pro_id=request.tracer.project.id %}">
                        <i class="fa fa-folder" aria-hidden="true"></i> 文件库
                    </a>

                    {% for file in files_list %}
                        /
                        <a href="{% url 'web:manage:file' pro_id=request.tracer.project.id %}?file_id={{ file.id }}">
                            {{ file.name }}
                        </a>
                    {% endfor %}

                </h3>
            </div>
            <div class="function">
                <div class="col-sm-5" style="padding-left: 5px;">
                    <a style="background-color: #1DC116"
                       type="button" class="upload btn btn-primary btn-default">
                        <div><i class="fa fa-upload" aria-hidden="true"></i> 上传文件</div>
                        <input type="file" name="upload_file" id="uploadFile" multiple style="opacity: 0">
                    </a>
                </div>

                <div class="col-sm-5">
                    <button type="button" data-whatever="新建文件夹"
                            class="btn btn-primary btn-default" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-plus-square" aria-hidden="true"></i> 新建文件夹
                    </button>
                </div>
            </div>

            <!-- 摩太狂 -->
            <div id="exampleModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content" style="padding: 20px 20px 0px 20px">
                        <div class="modal-header">
                            <h4 style="font-weight: bold" class="modal-title" id="exampleModalLabel">New
                                message</h4>
                        </div>
                        <div style="padding: 20px 20px">
                            <form id="form">
                                {% csrf_token %}
                                {% for filed in file_form %}
                                    <input name="fid" id="fid_yc" value="" style="display: none">
                                    <div class="form-group">
                                        <label for="{{ filed.id_for_label }}"
                                               class="control-label">{{ filed.label }}:</label>
                                        {{ filed }}
                                        <div class="errmsg"></div>
                                    </div>
                                {% endfor %}
                            </form>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button id="fileadd" type="button" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog"
                 aria-labelledby="mySmallModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">×</span></button>
                        <h4>确定删除？</h4>
                        <hr>
                        <p>删除后将不可恢复，文件夹下的所有文件都将删除</p>
                        <hr>
                        <p style="text-align: right">
                            <button id="delfile" type="button" class="btn btn-danger">确定</button>
                            <button data-dismiss="modal" type="button" class="btn btn-default">取消</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
        {% if wiki %}
            <div class="col-sm-1">
                <a href="{% url 'web:manage:wiki_edit' pro_id=request.tracer.project.id %}?wiki_id={{ wiki.id }}"
                   type="button" class="btn btn-primary btn-default">
                    <i class="fa fa-magic" aria-hidden="true"></i> 编辑
                </a>
            </div>
            <div class="col-sm-2">
                <a href="{% url 'web:manage:wiki_del' pro_id=request.tracer.project.id %}?wiki_id={{ wiki.id }}"
                   type="button" class="btn btn-primary btn-default">
                    <i class="fa fa-trash" aria-hidden="true"></i> 删除
                </a>
            </div>
        {% endif %}
    </div>
    <div class="panel-body">
        <div class="panel panel-default">
            <!-- Table -->
            <table class="table">
                <thead>
                <tr style="background-color: gainsboro">
                    <th style="width: 200px; text-align: center">名称</th>
                    <th style="width: 200px; text-align: center">文件大小</th>
                    <th style="width: 200px; text-align: center">更新者</th>
                    <th style="width: 400px; text-align: center">更新时间</th>
                    <th style="width: 200px; text-align: center">操作</th>
                </tr>
                </thead>
                <tbody id="showlist">
                {% for file in files %}
                    <tr>
                        {% if file.file_cla == 2 %}
                            <td style="width: 200px; text-align: left; padding-left: 7%"><a
                                    href="{% url 'web:manage:file' pro_id=request.tracer.project.id %}?file_id={{ file.id }}"><i
                                    class="fa fa-folder-o" aria-hidden="true"></i> {{ file.file_name }}</a></td>
                        {% else %}
                            <td style="width: 200px; text-align: center">
                                <i class="fa fa-file" aria-hidden="true"></i>
                                {{ file.file_name }}</td>
                        {% endif %}
                        {% if not file.file_size %}
                            <td style="width: 200px; text-align: center">------</td>
                        {% else %}
                            <td style="width: 200px; text-align: center">{{ file.file_size }}</td>
                        {% endif %}
                        <td style="width: 200px; text-align: center">{{ file.update_user.username }}</td>
                        <td style="width: 400px; text-align: center">{{ file.create_time }}</td>
                        <td style="width: 200px; text-align: center">
                            {% if file.file_cla == 2 %}
                                <a data-whatever="编辑文件夹"
                                   data-toggle="modal"
                                   data-target="#exampleModal"
                                   data-name="{{ file.file_name }}"
                                   data-fid="{{ file.id }}"
                                >
                                    <i class="fa fa-magic" aria-hidden="true"></i> 编辑
                                </a>&nbsp;&nbsp;
                            {% else %}
                                <a data-whatever="下载文件"
                                   data-toggle="modal"
                                   data-target="#UplodeModal"
                                   data-name="{{ file.file_name }}"
                                   data-fid="{{ file.id }}"
                                   class="uploadtd"
                                >
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i> 下载文件
                                </a>
                            {% endif %}
                            <a data-whatever="删除"
                               data-toggle="modal"
                               data-target="#deleteModal"
                               data-name="{{ file.file_name }}"
                               data-fid="{{ file.id }}">
                                <i class="fa fa-trash" aria-hidden="true"></i> 删除
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="uploadProgress" class="upload-progress hide">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-cloud-upload" aria-hidden="true"></i> 上传进度
            </div>
            <table class="table">
                <tbody id="addtbody" fid="{{ file_id }}">

                </tbody>
            </table>
        </div>
    </div>

    <div class="hide">
        <table class="progressTemplate">
            <tr>
                <td>
                    <div class="name"></div>
                    <div class="progress">
                        <div class="progress-bar"
                             role="progressbar"
                             aria-valuemin="0"
                             aria-valuenow="0"
                             aria-valuemax="100"
                             style="min-width: 2em;"
                        >
                            0%
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="hide">
        <table id="proshowTemplate">
            <tr>
                <td style="width: 200px; text-align: center">
                    <i class="fa fa-file" aria-hidden="true"></i>
                    <span class="name"></span>
                </td>
                <td style="width: 200px; text-align: center" class="size"></td>
                <td style="width: 200px; text-align: center" class="updata_user"></td>
                <td style="width: 400px; text-align: center" class="create_time"></td>
                <td>
                    <a data-whatever="下载文件"
                       data-toggle="modal"
                       data-target="#UplodeModal"
                       data-name=""
                       data-fid=""
                       class="uploadtd"
                    >
                        <i class="fa fa-cloud-download" aria-hidden="true"></i> 下载文件
                    </a>
                    <a data-whatever="删除"
                       data-toggle="modal"
                       data-target="#deleteModal"
                       data-name=""
                       data-fid=""
                       class="deletetd"
                    >
                        <i class="fa fa-trash" aria-hidden="true"></i> 删除
                    </a>
                </td>
            </tr>
        </table>
    </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'cos/cos-js-sdk-v5/cos-js-sdk-v5-0.5.22/dist/cos-js-sdk-v5.min.js' %}"></script>

    <script>
        var cos;
        $(function () {
            initMoTaiKuang()
            initDelKuang()
            BindFileAdd()
            DelectFile()
            {#initCos()#}
        });

        // 生成随机字符串
        function _getRandomString(len) {
            len = len || 32;
            var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'; // 默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1
            var maxPos = $chars.length;
            var pwd = '';
            for (i = 0; i < len; i++) {
                pwd += $chars.charAt(Math.floor(Math.random() * maxPos));
            }
            return pwd;
        }

        // 上传文件
        $('#uploadFile').on('change', function () {
            // 获取上传的所有文件对象列表
            $('#uploadProgress').removeClass('hide')

            $('#addtbody').empty()

            var files = $(this)[0].files;
            var fileList = []

            $.each(files, function (index, fileObj) {
                fileList.push({
                    'file_name': fileObj.name,
                    'file_size': fileObj.size
                })
            });

            // {'file_name': fileName, 'file_size': fileSize}
            // 获取临时凭证
            cos = new COS({
                getAuthorization: function (options, callback) {
                    // 异步获取临时密钥
                    $.post(
                        "{% url 'web:manage:acquire_sts' pro_id=request.tracer.project.id %}",
                        JSON.stringify(fileList), // JSON.stringify(fileList),
                        // 可从 options 取需要的参数
                        function (dat) {
                            if (dat.status) {
                                var data = dat.res;
                                var credentials = data && data.credentials;
                                {#if (!data || !credentials) return console.error('credentials invalid');#}
                                callback({
                                    TmpSecretId: credentials.tmpSecretId,
                                    TmpSecretKey: credentials.tmpSecretKey,
                                    XCosSecurityToken: credentials.sessionToken,
                                    // 建议返回服务器时间作为签名的开始时间，避免用户浏览器本地时间偏差过大导致签名错误
                                    StartTime: data.startTime, // 时间戳，单位秒，如：1580000000
                                    ExpiredTime: data.expiredTime, // 时间戳，单位秒，如：1580000900
                                });



                            } else {
                                alert(error)
                            }
                        });
                }
            });

            $.each(files, function (index, fileObject) {
                var fileName = fileObject.name;
                var fileSize = fileObject.size;
                var suf = fileName.split(".").pop(-1)
                var rand = _getRandomString(4)
                var key = 'pro_id-' + {{ request.tracer.project.id }} +'-user-id-' + {{ request.tracer.user.id }} +'- ' + rand + '.' + suf

                var $tr = $('.progressTemplate').find('tr').clone()
                $tr.find('.name').html(fileName)
                $('#addtbody').append($tr)


                // 上传文件
                cos.putObject({
                    Bucket: "{{ request.tracer.project.bucket }}", /* 必须 */
                    Region: 'ap-nanjing',     /* 存储桶所在地域，必须字段 */
                    Key: key,              /* 必须 */
                    StorageClass: 'STANDARD',
                    Body: fileObject, // 上传文件对象
                    onProgress: function (progressData) {
                        {#console.log("文件上传进度-->", fileName, JSON.stringify(progressData));#}
                        var dat = JSON.stringify(progressData); // percent 更新进度条的值
                        time_gx = progressData.percent * 100
                        $tr.find('.progress-bar').html(progressData.percent * 100 + '%')
                        $tr.find('.progress-bar').css('min-width', time_gx + '%')
                    }
                }, function (err, data) {
                    console.log(data)
                    if (data && data.statusCode === 200) {
                        // 上传成功
                        var parent = $('#addtbody').attr('fid')
                        var file_path = data.Location
                        var ETag = data.ETag
                        data = {
                            'file_name': fileName,
                            'file_path': file_path,
                            'key': key,
                            'file_size': fileSize,
                            'parent': parent,
                            'etag': ETag,
                        };

                        $.post(
                            "{% url 'web:manage:add_file' pro_id=request.tracer.project.id %}",
                            data,
                            function (res) {
                                if (res.status) {
                                    // 成功
                                    var $shtr = $('#proshowTemplate').find('tr').clone()
                                    {#$('#showlist').append($shtr)#}
                                    $shtr.find(".name").text(res.res.file_name)
                                    $shtr.find(".size").text(res.res.file_size)
                                    $shtr.find(".updata_user").text(res.res.update_user)
                                    $shtr.find(".create_time").text(res.res.create_time)
                                    $shtr.find(".uploadtd").attr('data-name', res.res.file_name).attr('data-fid', res.res.file_id)
                                    $shtr.find(".deletetd").attr('data-name', res.res.file_name).attr('data-fid', res.res.file_id)
                                    $('#showlist').append($shtr)
                                } else {
                                    alert(res.error)
                                }
                            },
                        )
                    } else if (err) {
                        // 上传失败
                        alert(err)
                    }
                });

            })
        })

        //　下载文件
        $('.uploadtd').on('click', function () {
            // 获取当前文件的id
            var fid = $(this).attr('data-fid');

            // 进行下载
            location.href = "{% url 'web:manage:upload_file' pro_id=request.tracer.project.id %}?fid="+ fid

        });

        // 删除文件
        function DelectFile() {
            $('#delfile').on('click', function () {
                // 删除文件
                var fid = $(this).attr('fid')
                {#var url = "{% url 'web:manage:file_del' pro_id=1 %}"#}
                $.get(
                    "{% url 'web:manage:file_del' pro_id=request.tracer.project.id %}",
                    {"fid": fid},
                    function (res) {
                        if (res.status) {
                            location.href = location.href
                        } else {
                            $.each(res.error, function (key, val) {
                                $('.errmsg').html(val)

                            })
                        }

                    }
                )

            })
        }

        // 替换添加更改模态框标题
        function initMoTaiKuang() {
            $('#exampleModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                modal.find('.modal-title').text(recipient)
                modal.find('.modal-body input').val(recipient)
                console.log(button)

                var name = button.data('name')
                var fid = button.data('fid')

                if (fid) {
                    $('#id_file_name').val(name)
                    $('#fid_yc').val(fid)
                } else {
                    $('#form')[0].reset()
                    modal.find('.errmsg').empty()
                }

            })
        }

        // 替换删除模态框标题
        function initDelKuang() {
            $('#deleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget) // Button that triggered the modal
                var recipient = button.data('whatever') // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this)
                var fid = button.data('fid')

                $('#delfile').attr('fid', fid)
            })
        }

        // 添加文件夹
        function BindFileAdd() {
            $('#fileadd').on('click', function () {
                var form_data = $('form').serialize()
                {#$.post("{% url 'web:manage:file_add' pro_id=request.tracer.project.id %}", form_data, function (res) {#}
                $.post(location.href, form_data, function (res) {
                    if (res.status) {
                        location.href = location.href
                    } else {
                        $.each(res.error, function (key, val) {
                            $('.errmsg').html(val)

                        })
                    }
                })
            })

        }


    </script>
{% endblock %}