{% extends 'layout/manage.html' %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block content %}
<div >
    <ul class="list-group" style="padding-top: 5px">
        <li class="list-group-item" style="background: #8c8c8c">新建项目</li>
            <div style="padding-left: 20px; padding: 20px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  新建项目
                </button>

                <!-- 模态框 -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">创建项目</h4>
                      </div>
                      <div class="modal-body">
                        <form id="form">
                            {% for pro in pro_form %}
                              <div class="form-group">
                                <label for="{{ pro.id_for_label }}">{{ pro.label }}</label>
                                {{ pro }}
                                <span id="{{ pro.name }}_error" class="errmsg"></span>
                              </div>
                            {% endfor %}
                            {% csrf_token %}
                        </form>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="create_pro" type="button" class="btn btn-primary">创建</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
        <li class="list-group-item" style="background: #8c8c8c">星标项目</li>
            <div style="padding-left: 20px">

                <div class="row" style="padding-top: 15px">
                    {% for asb in asterisks %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail" style="background: {{ asb.color }}">
                            <div class="caption">
                                <h3>{{ asb.project_name }}</h3>
                                <p>{{ asb.desc }}</p>
                                <p><a pro="{{ asb.id }}" class="btn btn-primary xb" role="button">取消星标</a></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        <li class="list-group-item" style="background: #8c8c8c">我创建的项目</li>
            <div style="padding-left: 20px">

                <div class="row" style="padding-top: 15px">
                    {% for pro in pro_list %}
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail" style="background: {{ pro.color }}">
                            <div class="caption">
                                <h3>{{ pro.project_name }}</h3>
                                <p>{{ pro.desc }}</p>
                                {% if pro.asterisk %}
                                    <p><a pro="{{ pro.id }}" class="btn btn-primary xb" role="button">取消星标</a></p>
                                {% else %}
                                    <p><a pro="{{ pro.id }}" class="btn btn-default xb" role="button">星标</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        <li class="list-group-item" style="background: #8c8c8c">我参与的项目</li>
            <div style="padding-left: 20px">
                <div class="row" style="padding-top: 15px">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail" style="background: #1b6d85">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Bsutton</a></p>                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>                        </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>                        </div>
                        </div>
                    </div>
                </div>
            </div>
    </ul>
</div>
{% endblock %}

{% block js %}
<script>
    $('.ys').on('click', function () {
        val = this.value
        $('#hi').val(val)
    })

    // 创建项目
    $('#create_pro').on('click', function () {
        var pro = $('#form').serializeArray()
        console.log(pro)
        $.post('{% url 'web:project' %}', pro, function (res) {
            if (res.stutic)
            {
                location.href = location.href
            }
            else
            {
                $.each(res.error, function (key, val) {
                    $('#'+key+'_error').text(val[0])
                })
            }
        })
    })

    // 星标
    $('.xb').on('click', function () {
        var pro_id = $(this).attr('pro')
        $.get("{% url 'user:project:aster' %}", {'pro_id': pro_id}, function (res) {
            if (res.status)
            {
                location.href = '/user/project/project'
            }
            else
            {
                alert(res.error)
            }
        })
    })

</script>
{% endblock %}