{% extends 'layout/manage.html' %}
{% load staticfiles %}

{% block css %}
    <style>
        a{
            text-decoration : none;
        }
    </style>
{% endblock %}

{% block content %}
<div >

    <div style="padding-left: 20px; padding: 20px">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  新建项目
                </button>

                <!-- 模态框 -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">

                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">创建项目</h4>
                      </div>
                      <div class="modal-body">
                        <form id="form">
                            {% for pro in pro_form %}
                              <div class="form-group">
                                <label for="{{ pro.id_for_label }}">{{ pro.label }}</label>
                                {{ pro }}
                                <span id="{{ pro.name }}_error" class="errmsg"></span>
                              </div>
                            {% endfor %}
                            {% csrf_token %}
                        </form>
                      </div>

                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button id="create_pro" type="button" class="btn btn-primary">创建</button>
                      </div>
                    </div>
                  </div>
                </div>

            </div>

    <div class="panel panel-default">
      <div class="panel-heading">星标项目</div>
      <div class="panel-body">
        <div style="padding-left: 20px">

                <div  class="row" style="padding-top: 15px">
                    {% for asb in pro_stars %}
                     <a href="/web/manage/{{ asb.id }}/dashboard" style="text-decoration : none;">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail" style="background: {{ asb.get_color_display }}">
                            <div class="caption">
                                <h3>{{ asb.project_name }}</h3>
                                <p>{{ asb.desc }}</p>
                                <p><a href="/web/asterisk/{{ asb.cls }}/?pro_id={{ asb.id }}" pro="{{ asb.id }}" class="btn btn-primary" role="button">取消星标</a></p>
                            </div>
                        </div>
                    </div>
                      </a>
                    {% endfor %}
                </div>

            </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">我创建的项目</h3>
      </div>
      <div class="panel-body">
        <div style="padding-left: 20px">

                <div class="row" style="padding-top: 15px">
                    {% for pro in pro_list %}
                        <a href="/web/manage/{{ pro.id }}/dashboard" style="text-decoration : none;">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail" style="background: {{ pro.get_color_display }}">
                            <div class="caption">
                                <h3>{{ pro.project_name }}</h3>
                                <p>{{ pro.desc }}</p>
                                {% if pro.is_star %}
                                    <p><a href="{% url 'web:aster' 'my' %}?pro_id={{ pro.id }}" pro="{{ pro.id }}" class="btn btn-primary" role="button">取消星标</a></p>
                                {% else %}
                                    <p><a href="{% url 'web:aster' 'my' %}?pro_id={{ pro.id }}" pro="{{ pro.id }}" class="btn btn-default" role="button">星标</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">我参与的项目</h3>
      </div>
      <div class="panel-body">
        <div style="padding-left: 20px">

                <div class="row" style="padding-top: 15px">
                    {% for pro_user in pro_user_list %}
                        <a href="/web/manage/{{ pro_user.project.id }}/dashboard" style="text-decoration : none;">
                    <div class="col-sm-6 col-md-3">
                        <div class="thumbnail" style="background: {{ asb.get_color_display }}">
                            <div class="caption">
                                <h3>{{ pro_user.project_name }}</h3>
                                <p>{{ pro_user.desc }}</p>
                                <p><a href="{% url 'web:aster' 'my' %}?pro_id={{ pro_user.id }}" pro="{{ pro_user.id }}" class="btn btn-primary" role="button">取消星标</a></p>
                            </div>
                        </div>
                    </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
      </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    $('.ys').on('click', function () {
        val = this.value
        $('#hi').val(val)
    })

    // 创建项目
    $('#create_pro').on('click', function () {
        var pro = $('#form').serializeArray()
        console.log(pro)
        $.post('{% url 'web:project' %}', pro, function (res) {
            if (res.stutic)
            {
                location.href = location.href
            }
            else
            {
                $.each(res.error, function (key, val) {
                    $('#'+key+'_error').text(val[0])
                })
            }
        })
    })

    // 星标
    $('.xb').on('click', function () {
        var pro_id = $(this).attr('pro')
        $.get("{% url 'web:project' %}", {'pro_id': pro_id}, function (res) {
            if (res.status)
            {
                location.href = '/web/project'
            }
            else
            {
                alert(res.error)
            }
        })
    })

</script>
{% endblock %}